/* --- Basic Reset & Setup --- */
* {
    box-sizing: border-box;
    /* Ensures padding and borders are included in the element's total width and height */
    margin: 0;
    padding: 5px;
}

body {
    font-family: 'IBM Plex Mono', Tahoma, Geneva, sans-serif;
    /* Sets a clean, readable font */
    background-color: rgb(255, 255, 151);
    /* Light gray background */
    color: #333;
    /* Dark gray text color */
    line-height: 1.6;
    /* Improves readability of paragraphs */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    /* Centers content vertically in the viewport */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* --- Layout Container --- */
.container {
    width: 100vw;
    max-width: 600px;
    margin: auto;
    /* Centers the container horizontally */
    padding: 20px;
    justify-content: space-around
}

.project-container {
    width: 100%;
    display: grid;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    padding: 20px;
}

.individual-project-container {
    width: auto;
    display: grid;
    margin: auto;
    justify-content: space-evenly;
    grid-auto-flow: row;
    padding: 20px;
    border-radius: 30px;
    background: beige;
}

.project-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2px;
    padding: 5px;
}

.project-container p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 5px;
}

.project-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}



/* --- Typography --- */
h1 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

/* --- Buttons --- */
.button-primary,
.button-secondary {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-right: 10px;
}


/* --- Blog CSS --- */
.blog-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    /* Centers the container horizontally */
    padding: 20px;
    background: #fff;
    /* White background for the content area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow for depth */
    border-radius: 15px;
}

.blog-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.blog-container p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
}

/* navbar.css */
.navbar {
    background-color: #333;
    padding: 13px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.button-primary {
    background-color: #007bff;
    padding: 8px 14px;
    border-radius: 4px;
}

.button-primary:hover {
    background-color: #0056b3;
}
